{% extends '_base.html' %}
{% block title %}Order History{% endblock %}

{% block content %}
<div class="container" align="center">
	<div class="row">
      <h1>Sách đã mua </h1>
      <div class="table-responsive">
        <table class="table table-bordered" >
          <thead>
            <tr style="text-align:center">
              <th>#</th>
              <th>Book's name</th>
              <th>Date of purchase</th>
              <th>Price</th>
              <th>Author</th>
              <th>Type</th>
              <th>Key</th>

            </tr>
          </thead>
          <tbody>
            {% for obj in user.sinhvien.sach_da_mua %}
            <tr style="text-align:center">
              <td>{{ obj.id }}</td>
              <td><a href="{% url 'home' %}">{{ obj.sach.ten_sach }}</a></td>
              <td>{{ obj.ngay_mua }}</td>
              <td>{{ obj.sach.gia_ban }} ETH</td>
              <td>{{ obj.sach.tac_gia }}</td>
              <td>{{ obj.sach.the_loai.the_loai_sach }}</td>
              <td>{{ obj.sach.nam_xuat_ban }}</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
  
  
      

    </div>
	</div>
</div>
{% endblock content %}



