{% load staticfiles %}
{% load static %}
{% block content %}
<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>

		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Book Store BK</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
{% block css %}
		<!--CSS
			============================================= -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">			
			<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">					
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'css/main.css' %}">
			
		</head>
{% endblock %}
<body>

{% load staticfiles %}
<header id="header" id="home">
    <nav class="navbar navbar-expand-md">
      <a href="{% url 'home' %}"><img src="{% static "images/logo.png"%}" alt="" title="" /></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" >
                <font size="3" color="#ffffff"> {{ user.email }}</font>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
			<a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/history">Order history</a>

              </div>
            </li>
          </ul>
        {% else %}
          <form class="form-inline ml-auto">
            <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log in</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary ml-2">Sign up</a>
          </form>
        {% endif %}
      </div>
    </nav>
</header><!-- #header -->

<!-- start banner Area -->
			<section class="banner-area" id="home">	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-7">
							<h5 class="text-white text-uppercase">Author: Travor James</h5>
							<h1 class="text-uppercase">
								New Adventure				
							</h1>
							<p class="text-white pt-20 pb-20">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
<div class="star-ratings-sprite"><span style="width:80%" class="star-ratings-sprite-rating"></span></div>
							</p>
							<a href="{% url 'audit' "New_Adventure" %}" class="primary-btn text-uppercase">Buy Now for 10 ETH</a>
						</div>
						<div class="col-lg-5 banner-right">
							<img class="img-fluid" src="{% static "images/header-img.png" %}" alt="">
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start about Area -->
			<section class="section-gap info-area" id="about">
				<div class="container">				
					<div class="single-info row mt-40 align-items-center">
						<div class="col-lg-6 col-md-12 text-center no-padding info-left">
							<div class="info-thumb">
								<img src="{% static "images/about-img.jpg" %}" class="img-fluid info-img" alt="">
							</div>
						</div>
						<div class="col-lg-6 col-md-12 no-padding info-rigth">
							<div class="info-content">
								<h2 class="pb-30">Dr. Travor James</h2>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women.								
								</p>
								<br>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. That’s why it’s crucial that, as women.									
								</p>
								<br>
								<img src="{% static "images/signature.png" %}" alt="">
								</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End about Area -->

			<!-- Start course Area -->
			<section class="course-area section-gap" id="course">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10">Top Book That are open for Students</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="active-course-carusel">
							<div class="single-course item">
								<img class="img-fluid" src="{% static "images/c1.jpg" %}" alt="">
								<p class="sale-btn">Out of Stocks</p>
								<div class="details">
									<a href="{% url 'audit' "Breakthrough_Thinking" %}"><h4>Breakthrough Thinking <span class="price float-right">15 ETH</span></h4></a>	
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									</p>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
								</div>
							</div>
							<div class="single-course item">
								<img class="img-fluid" src="{% static "images/c2.jpg" %}" alt="">
								<p class="sale-btn">Available</p>
								<div class="details">
									<a href="{% url 'audit' "Montage_Toujours" %}"><h4>Montage, Toujours! <span class="price float-right">25 ETH</span></h4></a>	
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									</p>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
								</div>
							</div>
							<div class="single-course item">
								<img class="img-fluid" src="{% static "images/c3.jpg" %}" alt="">
								<p class="sale-btn">Hottest Books</p>
								<div class="details">
									<a href="{% url 'audit' "Musicophilia" %}"><h4>Musicophilia <span class="price float-right">20 ETH</span></h4></a>	
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									</p>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star "></span>						
								</div>
							</div>								
						</div>											
					</div>
				</div>	
			</section>
			<!-- End course Area -->
	     <footer class="footer">
        <div class="content-container">
            <div class="container">
                <div style="color:black" align="center" 
                        <p> Create by <a target="_blank">BK's team</a>. <img src="{% static 'audit/images/hcmut.png' %}" style="width: 70px; padding-left: 20px;"> </p>
                    </div>
                <!-- /.footer__inner -->
            </div>
        </div>
    </footer>
{% endblock content %}


{% block javascript %}
{% load staticfiles %}
{% load static %}
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<!-- Bootstrap JavaScript -->

  			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.e" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/bootstrap.min.js' %}"></script>			
			
<!-- 3rd party JavaScript -->

<!-- Project JS -->
			
  			<script src="{% static 'js/easing.min.js' %}"></script>			
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>	
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>			
			<script src="{% static 'js/jquery.sticky.js' %}"></script>
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>			
			<script src="{% static 'js/parallax.min.js' %}"></script>	
			<script src="{% static 'js/waypoints.min.js' %}"></script>
			<script src="{% static 'js/jquery.counterup.min.js' %}"></script>			
			<script src="{% static 'js/mail-script.js' %}"></script>	
			<script src="{% static 'js/main.js' %}"></script>	
 			<script src="{% static 'js/base.js' %}"></script>
 			<!-- <script type="text/javascript" src="{% static 'js/MainPa.js' %}"></script> -->
  {% endblock javascript %}

</body>
</html>

