<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <style>

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal1 {
  display: none;
  position: fixed;
  z-index: 100000;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;

}

/* Modal Content */
.modal1-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}



/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
     
    display: none;
  
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.modal-open {
    overflow: visible;
}

img {
  margin-bottom: -4px;
}

.figcaption {

    padding:auto;
    margin:auto;
    width:100%;
    text-align:left;
    font-family:sans-serif;
    font-size:25px;
    color:black;
    box-sizing:border-box;  
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'audit/css/jstree.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'audit/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'audit/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'audit/css/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'audit/css/eclipse.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'audit/css/footer.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'audit/css/securify.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'audit/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'audit/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'audit/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'audit/vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'audit/vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'audit/vendor/animsition/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'audit/vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'audit/vendor/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'audit/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'audit/css/main.css' %}">


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-101783117-1', 'auto');
        ga('send', 'pageview');
    </script>

    <title>BK Audit Ethereum Smart Contracts</title>

    <link rel="icon" type="image/ico" href="{% static 'audit/images/hcmut.png' %}">

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Securify: Security Scanner for Ethereum Smart Contract">
    <meta name="twitter:description"
          content="Scan any Ethereum contract for critical security vulnerabilities for free.">
    <meta name="twitter:image" content="https://securify.ch/images/og_img.png">
    <meta property="og:title" content="Securify: Security Scanner for Ethereum Smart Contract"/>
    <meta property="og:description"
          content="Scan any Ethereum contract for critical security vulnerabilities for free."/>
    <meta property="og:url" content="https://securify.ch"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://securify.ch/images/og_img.png">
</head>

<body>

<div class="overflow-container">
    <section class="section-1 container-fluid">
        <div class="content-container">
            <div class="container z-index10">
                <div class="desc-container z-index10">
                    <div style="color:white" text-align = "center" class="title text-center">
                        <h1 class="mb-10">Audit Ethereum Smart Contracts </h1>
                    </div>
                    <div class="hr-container">
                        <hr class="hidden">
                    </div>
                    <div style="color:white" align="center" 
                        <p> Create by <a href="https://ethereum.github.io/blog/2018/08/17/ethereum-foundation-grants-update-wave-3/" target="_blank">BK's team</a>. <img src="{% static 'audit/images/hcmut.png' %}" style="width: 70px; padding-left: 20px;"> </p>
                    </div>

                    <div>
                        <a id="learn-more-btn" href="javascript:void(0)">Let's start</a>
                    </div>
                </div>
            </div>

            <!-- section-1-1 -->
            <div class="trim-container">
                <div class="trim trim-section-1 trim-blue"></div>
                <div class="background1 z-index1"></div>
                <div class="background2 z-index10"></div>
            </div>
        </div>
    </section>
    <!-- section-1 -->
    <section class="section-2 container-fluid">
        <div class="content-container">
            <div class="container input-container z-index10">
                <div class="editor-wrapper">
                    <div class="buttons-editor">
                        <div class="demo-container">
                                <button id="conf_btn" href="javascript:void(0)" data-toggle="modal"
                                        data-target="#modal-confirmation1"
                                        class="btn btn_light_blue btn-default z-index10">
                                    scan now
                                </button>
                                    <button id="conf_btn" href="javascript:void(0)" data-toggle="modal"
                                        data-target="#modal-confirmation"
                                        class="btn btn_light_blue btn-default z-index10"">request_audit</button>

                                    <button id="conf_btn" data-toggle="modal"
                                        data-target="#myModal"
                                         onclick="openModal();currentSlide(1)"
                                        class="btn btn_light_blue btn-default z-index10"">CFG</button>
                        </div>

                        <div class="upload-type-buttons-container">
    

                            <button id="back2home"
                                    class="btn btn-default demo upload-type-button"
                                    onClick=window.open("http://localhost:8000/","_self")>
                                Homepage
                            </button>
                        </div>
                    </div>
                    <div id="code-input__text" class="codeholder-container">
                        <div class="codeholder">
                      <textarea rows="32" cols="120" id="code-main" name="code-main" style="display: none;">
contract AmazingTokenInterface {
    function totalSupply() public view returns (uint);
    function balanceOf(address _tokenOwner) external view returns (uint);
    function transfer(address _to, uint tokens) public returns (bool success);
    function approve(address _spender, uint tokens) public returns(bool success);
    function transferFrom(address _from, address _to, uint tokens) public returns (bool success);
    function allowance(address tokenOwner, address spender) public view returns (uint remaining);

    event Transfer(address indexed from, address indexed to, uint tokens);
    event Approval(address indexed tokenOwner, address indexed spender, uint tokens);
}

contract escrow {
    address owner ;
    struct transaction {
        address payable sendEthAddress ;
        address payable sendTokenAddress ;
        uint eth_amount;
        uint token_amount;
        bool exist;
        bool approve_Eth;
        bool approve_Token;
        address addressToken;
    }

    event check(uint number_line);


    mapping (address => mapping(address=> transaction)) transactionInfo;

    constructor() public{
        owner = msg.sender;
    }

    function Sendeth(address payable _from, address payable _to, uint ether_amount) payable public {

        require(msg.sender == _from && msg.value == ether_amount, "line 72");

        if(transactionInfo[_from][_to].exist == true){

            transaction storage currentTransaction = transactionInfo[_from][_to];

            currentTransaction.eth_amount = msg.value;
            currentTransaction.approve_Eth = true;
        }
        else{
            //create new transaction and because there is no token address so we will set  "token address" = null address
            address nullAddress = address(0x0);
            transaction memory newTransaction = transaction(_from,_to,msg.value,0,true,true,false,nullAddress);

            transactionInfo[_from][_to] = newTransaction;
            transactionInfo[_to][_from] = newTransaction;
        }
    }

    function Sendkey(address payable _from, address payable _to,
     address _tokenAddress, uint token_amount ) public {
        require(msg.sender == _from, "line 67");

        //check token approve and send token to smart contract
        uint checkAllowance = AmazingTokenInterface(_tokenAddress).allowance(_from,address(this));
        require(checkAllowance == token_amount, "line 71");
        /*
            send token from "token sender" into smart contract
        */
        AmazingTokenInterface(_tokenAddress).transferFrom(_from, address(this), checkAllowance);

        if(transactionInfo[_from][_to].exist == true){

            transaction storage currentTransaction = transactionInfo[_from][_to];
            currentTransaction.addressToken = _tokenAddress;
            currentTransaction.token_amount = checkAllowance;
            currentTransaction.approve_Token = true;

            /*
                check whether A and B has sent Token and Eth or not
            */
            if(currentTransaction.approve_Eth == true && currentTransaction.approve_Token == false ){

            //send token in smart contract to "ethereum sender"
            AmazingTokenInterface(_tokenAddress).
            transfer(currentTransaction.sendEthAddress,currentTransaction.token_amount);

                //send eth in smart contract to "token sender"
                address payable TokenerAddress = currentTransaction.sendTokenAddress;
                TokenerAddress.transfer(currentTransaction.eth_amount);

                //set "A and B" 's transaction into " not exist"
                currentTransaction.eth_amount = 0 ;
                currentTransaction.token_amount = 0 ;
                currentTransaction.exist = false;
            }
        }
        else{


            //create new transaction between A and B
            transaction memory newTransaction = 
            transaction(_to,_from,0,token_amount,true,false,true,_tokenAddress);

            transactionInfo[_from][_to] = newTransaction;
            transactionInfo[_to][_from] = newTransaction;
        }
    }

}
</textarea>
                        </div>
                        
                        <!-- code placeholder -->
                    </div>
                </div>
            </div>

	
            <div class="trim-container">
                <div class="trim trim-white"></div>
            </div>
        </div>
    </section>

    <!-- section-2 -->
    <div id="myModal" class="modal1" data-backdrop="false">
        <span class="close cursor" onclick="closeModal()" data-dismiss="modal">&times;</span>
      <div class="modal1-content">
        <div class="mySlides">
            <div class="figcaption">Function: Constructor</div>
            <img src="{% static "images/constructor.png" %}" style="width:100%;">
        </div>

        <div class="mySlides">
            <div class="figcaption">Function: Sendeth</div>
            <img src="{% static "images/sendeth.png" %}" style="width:100%">
        </div>

        <div class="mySlides">
             <div class="figcaption">Function: Sendkey</div>
                 <img src="{% static "images/sendkeyT.png" %}" style="width:100%">
        </div>

        
        
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
</div>




    <div id="modal-confirmation" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                 <span class="input100 col-12 modal-title text-center">VERIFY FUCTION IN SMART CONTRACT</span>
               
              </div>
              <div class="modal-body">

                <form class="contact100-form validate-form">

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">User</span>
                    <input class="input100" type="text" name="name" value="Sendeth(UserAdress, AdminAdress, 10)" disabled>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Admin</span>
                    <input class="input100" type="text" name="admin" value="Sendkey(AdminAdress, UserAdress, 1)" disabled>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Somethings go wrong with Smart Contract"  >
                    <span class="label-input100">Result</span>
                    <textarea class="input100" name="message" disabled>
                               Command to deploy Smart Contract:
                            -> Sendeth(0xe880f32e33061919d09811eee00ee94392cd4fde,
                                       0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae, 10)
                            -> Sendkey(0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae,
                                       0xe880f32e33061919d09811eee00ee94392cd4fde, 1)
                            ----------------------------------------------------------
                            After Symbolic Execution:
                            ->Inital state:
                                (UserAdress, 100, 0)
                            ->Final state:
                                (UserAdress, 90, 1)
                    </textarea>
                    <!-- Test-2 lua key
                            Command to deploy Smart Contract:
                            -> Sendeth(0xe880f32e33061919d09811eee00ee94392cd4fde,
                                       0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae, 15)           
                            -> Sendkey(0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae,
                                       0xe880f32e33061919d09811eee00ee94392cd4fde, 1)
                            ----------------------------------------------------------
                            After Symbolic Execution:
                            ->Inital state:
                                (UserAdress, 100, 0)
                            ->Final state:
                                (UserAdress, 85, 1)
                        -->

                        <!-- Test-3 dung
                         
                        -->
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" onclick="myFunction()">
                        <span>
                            Deploying Blockchain
                        </span>
                    </button>
                </div>
            </form>

            
              </div>

              <div class="modal-footer">
                <span class="contact100-more">
                <center> By using this tool, you accept the Terms of Service.</center>
            </span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
        </div>
    </div>
            
        </div>


    <footer class="footer">
        <div class="content-container">
            <div class="container">
                <div style="color:white" align="center" 
                        <p> Create by <a target="_blank">BK's team</a>. <img src="{% static 'audit/images/hcmut.png' %}" style="width: 70px; padding-left: 20px;"> </p>
                    </div>
                <!-- /.footer__inner -->
            </div>
        </div>
    </footer>
</div>
<!-- alert(""); -->
<script>
function myFunction() {
  alert("Transfer success!");
}

function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}   

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}

</script>
    {% block javascript %}
	<script src="{% static 'audit/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'audit/vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static 'audit/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'audit/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'audit/vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'audit/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'audit/vendor/daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'audit/vendor/countdowntime/countdowntime.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="{% static 'audit/js/map-custom.js' %}"></script>

	<script src="{% static 'audit/js/main.js' %}"></script>
    <script src="{% static 'audit/js/script.js' %}"></script>
    <script src="{% static 'audit/js/jstree.min.js' %}"></script>
    <script src="{% static 'audit/js/codemirror.js' %}"></script>
    <script src="{% static 'audit/js/codemirror-active-line.js' %}"></script>
    <script src="{% static 'audit/js/clike.js' %}"></script>
    <script src="{% static 'audit/js/api.js' %}"></script>
    <script src="{% static 'audit/js/securify.js' %}"></script>
      {% endblock javascript %}
</body>

</html>